<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">

                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Agency Management</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">


    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header user-mgt-header">
                        <h4 class="card-title mb-1 mb-sm-0"> Agency Management</h4>
                        <button type="button" class="btn btn-light-primary blue-bg btn-sm" data-toggle="modal"
                            data-target="#createAgency"><i class="bx bx-user-plus">&nbsp;</i>Create Agency</button>
                    </div>
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive" *ngIf="agencyList.length">
                                <table class="table zero-configuration dhtable-datatable">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Sr.No</th>
                                            <th>Agencyname</th>
                                            <th>Address</th>
                                            <th>District</th>
                                            <th>Shortname</th>
                                            <th>Mail Id</th>
                                            <th>Phone No.</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor='let agency of agencyList; index as i'>
                                            <td class="text-center">{{i+1}}</td>
                                            <td>{{agency?.name}}</td>
                                            <td>{{agency?.address}}</td>
                                            <td>{{agency?.district?.name}}</td>
                                            <td>{{agency?.short_name}}</td>
                                            <td>{{agency?.email}}</td>
                                            <td>{{agency?.phone_no}}</td>
                                            <td>{{agency?.status ? 'Active' : 'Inactive'}}</td>
                                            <td *ngIf="agency?.status != 1">
                                                <button class="btn btn-primary btn-sm"
                                                    (click)="changeAgencyStatus(true,agency.id,i)">Activate</button>
                                            </td>
                                            <td *ngIf="agency?.status == 1">
                                                <button class="btn btn-danger btn-sm"
                                                    (click)="changeAgencyStatus(false,agency.id,i)">Deactivate</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="agencyList.length <= 0">
                                No Agencies Found
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade modal-borderless" id="createAgency" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Create Agency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x"></i>
                </button>
            </div>


            <div class="modal-body">
                <form [formGroup]="createAgencyForm" (onsubmit)="createAgency()">
                    <div class="row">
                        <div class="col-md-4 mb-1">
                            <label>Agency name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-building-house"></i></span>
                                </div>
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Enter Agencyname"
                                    [ngClass]="{'is-invalid':  createAgencyForm.get('name')?.invalid && ( createAgencyForm.get('name')?.touched ||  createAgencyForm.get('name')?.dirty)}">
                            </div>
                            <div
                                *ngIf="submitted || createAgencyForm.get('name')?.touched ||  createAgencyForm.get('name')?.dirty">
                                <p class="text-danger" *ngIf="createAgencyForm.get('name')?.hasError('required')">
                                    name is required</p>
                                <p class="text-danger" *ngIf="createAgencyForm.get('name')?.hasError('minlength')">
                                    name should be at least 3 characters</p>
                                <p class="text-danger" *ngIf="createAgencyForm.get('name')?.hasError('maxlength')">
                                    name should be at most 25 charactersx`</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label>Short Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-building-house"></i></span>
                                </div>
                                <input type="text" class="form-control" id="short_name" formControlName="short_name"
                                    placeholder="Enter Agency Short name"
                                    [ngClass]="{'is-invalid':  createAgencyForm.get('short_name')?.invalid && ( createAgencyForm.get('short_name')?.touched ||  createAgencyForm.get('short_name')?.dirty)}">
                            </div>
                            <div
                                *ngIf="submitted || createAgencyForm.get('short_name')?.touched ||  createAgencyForm.get('short_name')?.dirty">
                                <p class="text-danger" *ngIf="createAgencyForm.get('short_name')?.hasError('required')">
                                    Short Name is required</p>
                                <p class="text-danger"
                                    *ngIf="createAgencyForm.get('short_name')?.hasError('minlength')">
                                    Short Name should be at least 3 characters</p>
                                <p class="text-danger"
                                    *ngIf="createAgencyForm.get('short_name')?.hasError('maxlength')">
                                    Short Name should be at most 25 charactersx`</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label>Address</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-building-house"></i></span>
                                </div>
                                <input type="text" class="form-control" id="address" formControlName="address"
                                    placeholder="Enter Agency Short name"
                                    [ngClass]="{'is-invalid':  createAgencyForm.get('address')?.invalid && ( createAgencyForm.get('address')?.touched ||  createAgencyForm.get('address')?.dirty)}">
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label>District</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-building-house"></i></span>
                                </div>
                                <select class="form-control" id="district" name="district" placeholder="Select District"
                                    formControlName="district_id"
                                    [ngClass]="{'is-invalid':  createAgencyForm.get('district_id')?.invalid && ( createAgencyForm.get('district_id')?.touched ||  createAgencyForm.get('district_id')?.dirty)}">
                                    <option *ngFor="let district of districtList" [value]="district?.id">
                                        {{ (district?.name ?? '-') }}
                                    </option>
                                </select>
                            </div>
                            <div
                                *ngIf="submitted || createAgencyForm.get('district_id')?.touched ||  createAgencyForm.get('district_id')?.dirty">
                                <p class="text-danger"
                                    *ngIf="createAgencyForm.get('district_id')?.hasError('required')">
                                    Please Select District</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label>Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-building-house"></i></span>
                                </div>
                                <input type="text" class="form-control" id="phone_no" formControlName="email"
                                    placeholder="Enter Agency Email"
                                    [ngClass]="{'is-invalid':  createAgencyForm.get('email')?.invalid && ( createAgencyForm.get('email')?.touched ||  createAgencyForm.get('email')?.dirty)}">
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label>Contact no</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-building-house"></i></span>
                                </div>
                                <input type="text" class="form-control" id="phone_no" formControlName="phone_no"
                                    placeholder="Enter Agency Phone Number"
                                    [ngClass]="{'is-invalid':  createAgencyForm.get('phone_no')?.invalid && ( createAgencyForm.get('phone_no')?.touched ||  createAgencyForm.get('phone_no')?.dirty)}">
                            </div>
                            <div
                                *ngIf="submitted || createAgencyForm.get('phone_no')?.touched ||  createAgencyForm.get('phone_no')?.dirty">
                                <p class="text-danger" *ngIf="createAgencyForm.get('phone_no')?.hasError('required')">
                                    Phone Number is required</p>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 mb-1">
                            <label>Shortname</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-building-house"></i></span>
                                </div>
                                <input type="text" [(ngModel)]="agencyShortName" class="form-control"
                                    placeholder="Type detail here">
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label>Address</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-map"></i></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="agencyAddress"
                                    placeholder="Type detail here">
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label>District</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-map"></i></span>
                                </div>
                                <select class="form-control" id="district"name="district" placeholder="Select District"
                                    [(ngModel)]="agencyDistrictId">
                                    <option *ngFor="let district of districtList" [value]="district?.id">
                                        {{ (district?.name ?? '-') }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 mb-1">
                            <label>Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-envelope"></i></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="agencyEmail"
                                    placeholder="Type detail here">
                            </div>
                        </div>

                        <div class="col-md-4 mb-1">
                            <label>Contact No.</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text blue-bg" id="basic-addon1"><i
                                            class="bx bx-phone-call"></i></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="agencyPhone"
                                    placeholder="Type detail here">
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary" data-dismiss="modal" #closeModel>
                    Cancel
                </button>
                <button type="button" class="btn btn-primary blue-bg ml-1" (click)="createAgency()">
                    Create Now
                </button>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>